
<div class="centralized">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">Simple Password Generator</h1>
        <div class="field">
          <label>Enter Length</label>
          <input class="input" (input)="onLengthChange($event)" type="number" />
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="useLetters()" type="checkbox" />
              Use Letters
            </label>
          </div>
        </div>
  
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="useNumbers()" type="checkbox" />
              Use Numbers
            </label>
          </div>
        </div>
  
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="useSymbols()" type="checkbox" />
              Use Symbols
            </label>
          </div>
        </div>
        <button class="button is-link is-fullwidth" [disabled]="!(length && (includesLetters || includesNumbers || includesSymbols))" (click)="onButtonClick()">Generate Password!!</button>
        <div class="box" *ngIf="password">  <!-- This is called a structural directive which can be used to add or remove html  -->
          <label>Your Password</label>
          <input class="input" [value]="password" />
        </div>
      </div>
    </div>
  </div>
</div>
